sprint1/.gradle/file-system.probe
sprint1/.gradle/8.6/executionHistory/executionHistory.bin
sprint1/.gradle/8.6/executionHistory/executionHistory.lock
sprint1/.gradle/8.6/fileHashes/fileHashes.bin
sprint1/.gradle/8.6/fileHashes/fileHashes.lock
sprint1/.gradle/8.6/fileHashes/resourceHashesCache.bin
sprint1/.gradle/buildOutputCleanup/buildOutputCleanup.lock
sprint1/.gradle/buildOutputCleanup/outputFiles.bin
sprint0/.gradle/8.6/fileHashes/fileHashes.lock
devices/.gradle/8.6/checksums/checksums.lock
devices/.gradle/8.6/executionHistory/executionHistory.lock
devices/.gradle/8.6/fileHashes/fileHashes.bin
devices/.gradle/8.6/fileHashes/fileHashes.lock
devices/.gradle/buildOutputCleanup/buildOutputCleanup.lock
devices/.settings/org.eclipse.buildship.core.prefs
sprint0/.gradle/8.6/fileHashes/fileHashes.lock
sprint1/.gradle/8.6/fileHashes/fileHashes.bin
sprint1/.gradle/8.6/fileHashes/fileHashes.lock
sprint1/.settings/org.eclipse.buildship.core.prefs
sprint2/.gradle/8.6/fileHashes/fileHashes.bin
sprint2/.gradle/8.6/fileHashes/fileHashes.lock
sprint2/.settings/org.eclipse.buildship.core.prefs
sprint1/.gradle/8.6/executionHistory/executionHistory.bin
