sprint1/.gradle/file-system.probe
sprint1/.gradle/8.6/executionHistory/executionHistory.bin
sprint1/.gradle/8.6/executionHistory/executionHistory.lock
sprint1/.gradle/8.6/fileHashes/fileHashes.bin
sprint1/.gradle/8.6/fileHashes/fileHashes.lock
sprint1/.gradle/8.6/fileHashes/resourceHashesCache.bin
sprint1/.gradle/buildOutputCleanup/buildOutputCleanup.lock
sprint1/.gradle/buildOutputCleanup/outputFiles.bin
sprint0/.gradle/8.6/fileHashes/fileHashes.lock
